accelerate>=0.21.0
psutil==5.8.0
pyyaml
packaging
requests
pandas==1.3.3
tqdm
regex
flask==2.0.1
gunicorn==20.1.0
opencv-python
tabulate
termcolor
beautifulsoup4
six
joblib
lazy-loader
msgpack
numba
scikit-learn
scipy
yapf
imageio<3.0
absl-py
markdown
protobuf
werkzeug==2.0.1
pyasn1-modules
urllib3
appdirs
pywin32; platform_system=="Windows"
wcwidth
cffi
matplotlib==3.4.3
torch==1.9.0+cu111
torchvision==0.10.0+cu111
seaborn==0.11.2
gevent==21.8.0
